{% extends "base.html" %}




{% block content %}
<h1>Task List </h1>
{% csrf_token %}

<div
class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
<table class="w-full text-left table-auto min-w-max">
  <thead>
    <tr>
      <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
          ID
        </p>
      </th>
      <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
          Title
        </p>
      </th>
      <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
          Description
        </p>
      </th>
      <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
          Start Date
        </p>
      </th>
      <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
          Action
        </p>
      </th>
    </tr>
  </thead>
  {% for row in  data %}
  <tbody>
    <tr>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
          {{row.id}}
        </p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
          {{row.title}}
        </p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
          {{row.description}}
        </p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
          {{row.start_date}}
        </p>
      </td>
      <td class="p-4 border-b border-blue-gray-50">
        <a href={% url "update" row.id %} class="block font-sans text-sm antialiased font-medium leading-normal text-blue-gray-900">
          <button>Update</button>
        </a> &nbsp <a href={% url "delete" row.id %} class="block font-sans text-sm antialiased font-medium leading-normal text-blue-gray-900">
          <button>Delete</button>
        </a>
      </td>
    </tr>
  </tbody>
  {% endfor %}
  
</table>
</div>

{% endblock content %}